@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-bg: #f3f3f3;
  --color-text: #000000;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
  --color-white: #ffffff;
  --color-yellow: #52432d;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
}


  /* TODO: media query */
main {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h2 { font-size: 1.25rem;}
h3 { font-size: 1rem; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

hr {
  border-top: 1px solid rgb(0, 0, 0);
  width: inherit;
}

img {max-width: 100%;}


/* Navbar */
  /* TODO: media query */
.navbar {
  height: 30px;
  width: 100%;
  top: 0;
  margin-top: 10px;
  padding: 0 5vw;
  color: rgb(215, 215, 215);
  background-color: transparent; 
  position: absolute;
  z-index: 99;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar li {
  border-radius: 50%;
  flex-grow: 1;
}
.navbar p {
  font-weight: 100;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

/* images */
  /* TODO: media query */
.image-banner {
  object-fit: cover;
}

/* premiere */
.premiere {
  width: 100%;
}

.premiere img {
  width: 100%;
  height: 1024px;
}


/* Grid container */
.grid-container {
  width: 100%;
  padding: 0 10vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, auto);
  justify-content: space-between;    
}

/* Cards */

.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 30px;
  padding: 0;
  margin: 4rem 0;
  max-width: 100%;
  /* width: 420px;  */
  /* TODO: media query */
}

.image-block {
  float: left;
}

.card .image {
  width: 100%;
  border-radius: 3px;
  float: left;
  margin-right: 10px;
}

.card h2 {
  margin: 0;
  margin-bottom: 3vw;
}

.card-text {
  float: left;
}

/* footer */
  /* TODO: media query */
footer {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  border-left: 5px black;
  border-right: 5px black;
}

footer > p {
  text-align: center;
  margin: 0;
}


/* Utilities */

.push-left {
  margin-left: auto;
}

.push-right {
  flex-grow: 5 !important;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden { display:  none; }